.card {
  box-sizing: border-box;
  width: 100%;
  max-width: 888px;

  background: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
}

.content {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

/* Pic */
.pic {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgFallback {
  width: 100%;
  height: 100%;
  background: var(--badges);
  color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Info */
.info {
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.priceWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: 600;
  font-size: 24px;
}

.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main);
}

.heartActive {
  color: var(--accent);
}

.details {
  display: flex;
  gap: 16px;
  align-items: center;
}

.reviews,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  color: var(--rating);
}

.desc {
  font-size: 16px;
  color: var(--text);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  line-clamp: 1;
  overflow: hidden;
}

.badgesRow {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.actions {
  margin-top: auto;
}

.more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 16px 60px;
  border-radius: 200px;
  background: var(--accent);
  color: var(--white);
  text-decoration: none;
}
