.list {
  display: grid;
  gap: 24px;
}

.item {
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
}

.top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background: #f2f4f7;
  color: #e44848;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-main);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.meta {
  display: grid;
  gap: 4px;
}

.name {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}

.text {
  margin-top: 16px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.empty {
  background: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 24px;
  color: #6c717b;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
}
